.collapsible {
  overflow-x: hidden;
  max-width: 90vw;
  background-color: #fff;
  margin-top: 10px;
  display: block;

}

.collapsible-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.collapsible-header-title {
  font-size: larger;

}

.collapsible-header-button {}

.collapsible-content {}